{% extends 'base.html' %}

{% block title %} Login {% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-6 offset-md-3">
    {% include 'includes/messages.html' %}
  </div>
</div>

<div class="container" style="position:absolute; top: 100px; left: 60px;">
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
      </div><br>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div><br>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div><br>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}
